spring:
  application:
    name: daraja-b2c
  datasource:
    url: jdbc:mariadb://${MARIADB_URL:localhost:3306}/darajab2c
    username: root
    password: ${MARIADB_PASSWORD:root}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    sql-migration-prefix: V
    repeatable-sql-migration-prefix: R
    sql-migration-separator: __
    sql-migration-suffixes: .sql
    locations: 'classpath:config/flyway'
  kafka:
    properties:
      security.protocol: PLAINTEXT
      bootstrap.servers: localhost:9092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

server:
  port: 8080
  servlet:
    context-path: /svc/daraja-b2c

management:
  endpoints:
    web:
      base-path: /management
      exposure:
        include: '*'

kafka:
  consumer_group: daraja_b2c
  consumer:
    topic:
      gw_request: gw_request
  producer:
    topic:
      b2c_result: b2c_result

daraja:
  api:
    b2c:
      cert-path: classpath:/certificates/sandbox.cer